<div class="container">
    <form method="post" action="/login">
    <label for="username">Rut:</label>
    <input type="text" name="rut" id="rut">
    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password">
    <button type="submit">Iniciar sesión</button>
</form>
</div>
