<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register-user">Creación de usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Lista de usuarios</a>
        </li>
      </ul>
      <div>
        <span class="navbar-text">
          {{{user.name}}} {{{user.lastname}}}
        </span>
      </div>
      &nbsp;
        <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
    </div>
  </div>
</nav>
</header>